<!DOCTYPE html>
<html>
<% include ./partials/_head %>
<body>
<% include ./partials/_header %>
<main>

<div class="container">
  <h1>Choose a Campaign</h1>
    <div class="row">
      <% campaigns.forEach(function(campaign) { %>
        <div class="col l4 m8 offset-m2 s12">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light image-container">
              <img class="activator campaign-img" src="<%= campaign.image_url %>">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><%= campaign.title %><i class="material-icons right">more_vert</i></span>
              <a href="/campaigns/<%= campaign.id %>" class="btn button">Go to Campaign</a>
            </div>
            <div class="card-reveal">
              <h4 class="grey-text card-title activator text-darken-4"><%= campaign.title %><i class="material-icons right">close</i></h4>
              <p class="light-text"><%= campaign.description %></p>
              <a href="http://<%= campaign.charity_url %>"> <p class="light-text">Click here to donate to the <%= campaign.charity_name %></p></a>
              <a href="/campaigns/<%= campaign.id %>" class="btn button go-to">Go to Campaign</a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
</div>

</main>
<% include ./partials/_footer %>

</body>
</html>
