<!DOCTYPE html>
<html>
<% include ./partials/_head %>
<body>
<% include ./partials/_header %>
<main class="container">

<div class="title campaign-info">
   <h2 class="campaign-title"><%= title %> - <%= charity_name %></h2>
   <% if (isAuthenticated) { %>
   <div class="pledge-button">
   <a class="btn button" href="/campaigns/<%= campaign_id %>/pledges/new">Make a pledge</a>
   </div>
   <% } else { %>
   <div class="pledge-button">
     <a class="waves-effect waves-light btn button modal-trigger" href="#modal1">Login to make a pledge</a>
     <a class="waves-effect waves-light btn button modal-trigger" href="<%= charity_url %>">Click Here to Donate</a>
   </div>
 <% } %>
 </div>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h5>Login to make pledge</h5>
      <form class="col s12" id="login-modal" action="/campaigns/<%= campaign_id %>" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" class="validate" name="username" autocomplete="new-username">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" name="password" autocomplete="new-password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="modal-footer">
          <a href="/users/new">Not a user? Register.</a>
          <button class="btn waves-effect waves-light button" type="submit" name="action">Login
          <i class="material-icons right"></i>
          </button>
        </div>
      </form>
    </div>
  </div>



  <div class="react" id="react-root"></div>
  <div class="twitter-feed col s6 m6 l6">
    <a class="twitter-timeline" heigth="800" width="500" data-height="800" href="https://twitter.com/<%= handle %>">Tweets by <%= handle%></a>
  </div>


  <script src="//localhost:3000/build/bundle.js"></script>
</main>
<% include ./partials/_footer %>

</body>
</html>
