<!DOCTYPE html>
<html>
<% include ./partials/_head %>

<!-- <script type="text/javascript" src="/scripts/populate-players.js"></script> -->

<script type="text/javascript">
  function populate(selectTeam, selectPlayer) {
    var team = document.getElementById(selectTeam);
    var player = document.getElementById(selectPlayer);
    player.innerHTML = "";
    if(team.value == <%- JSON.stringify(home_id) %>) {
      var optionArray = <%- JSON.stringify(home_roster) %>
    } else if(team.value == <%- JSON.stringify(away_id) %>) {
      var optionArray = <%- JSON.stringify(away_roster) %>
    }
    for(var index in optionArray) {
      var newOption = document.createElement("option");
      newOption.value = optionArray[index].id
      newOption.innerHTML = optionArray[index].name
      player.options.add(newOption);
    }
  }
</script>

<body>
<% include ./partials/_header %>

<main>

<div class="form-container card">
  <div class="row">
    <% if(!isAuthenticated) { %>

      <p> You can't make a pledge unless you're logged in. You can log in <a href="/login">here</a>.</p>

    <% } else { %>

    <form class="col s12" action="/campaigns/<%= campaign_id %>/pledges/new" method="POST">
      <div class="row">
        <h5 class="form-title">Make a Pledge</h5>
      </div>
      <div class="row">
       <label>Team</label>
        <select id="team" name="team" onchange="populate('team','player')" class="">
          <option value="" disabled selected>Choose your Team</option>
          <option class="team-option" name="team" value="<%= home_id %>"><%= home_name %></option>
          <option class="team-option" name="team" value="<%= away_id %>"><%= away_name %></option>
        </select>
      </div>

      <div class="row">
        <label>Player</label>
        <select id="player" name="player" class="browser-default">
        </select>
      </div>

      <div class="row">
        <label>Event</label>
        <select name="inGameEvent" class="">
          <option name="option1" value="" disabled selected>Choose your in-game event</option>
          <option name="goal" value="6">Goal</option>
          <option name="assist" value="8">
            Assist
          </option>
          <option name="point" value="9">
            Point
          </option>
          <option name="hit" value="4">
            Hit
          </option>
          <option name="penalty" value="5">
            Penalty
          </option>
          <option name="faceoff" value="2">
            Faceoff Won
          </option>
          <option name="shotsaved" value="3">
            Shot Saved
          </option>
        </select>
      </div>

      <div class="row">
       <div class="input-field">
         <input id="pledge" type="text" class="validate" name="pledge" placeholder="$"/>
         <label class="active" for="money">Pledge Amount</label>
       </div>
     </div>

      <a class="btn waves-effect waves-light button" href="#modal2">Submit
          <i class="material-icons right"></i>
      </a>
      <!-- Modal Structure -->
      <div id="modal2" class="modal modal-fixed-footer bottom-sheet">
        <div class="modal-content">
          <h4>Do you Promise?</h4>
          <p>I {currentUser} promise to follow the privided link and donate my total pledge amount to charity.</p>
        </div>
        <div class="modal-footer">
          <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit" name="action">Agree</button>
        </div>
      </div>
    </form>
    <% } %>
  </div>
</div>



</main>
<% include ./partials/_footer %>

</body>
</html>
