<!DOCTYPE html>
<html>
<% include ./partials/_head %>

<script type="text/javascript">
  function populate(selectTeam, selectPlayer) {
    var team = document.getElementById(selectTeam);
    var player = document.getElementById(selectPlayer);
    player.innerHTML = "";
    var optionArray;
    if(team.value == <%- JSON.stringify(home_uuid) %>) {
      optionArray = <%- JSON.stringify(home_team) %>
    } else if(team.value == <%- JSON.stringify(away_uuid) %>) {
      optionArray = <%- JSON.stringify(away_team) %>
    }
    for(var index in optionArray) {
      var newOption = document.createElement("option");
      newOption.value = optionArray[index].player_uuid;
      newOption.innerHTML = optionArray[index].player_name;
      player.options.add(newOption);
    }
    $('select').material_select();
  }
</script>

<body>
<% include ./partials/_header %>

<main>
<h2 class="custom-header new-camp-h">Make a New Pledge</h2>

<div class="form-container card">
  <div class="row">
    <% if(!isAuthenticated) { %>

      <p> You can't make a pledge unless you're logged in. You can log in <a href="/login">here</a>.</p>

    <% } else { %>

    <form class="col s12 form-int" id="pledge-new" action="/campaigns/<%= campaign_id %>/pledges/new" method="POST">
      <div class="row">
        <!-- <h5 class="form-title">Make a Pledge</h5> -->
      </div>
      <div class="row">
       <label>Team</label>
        <select id="team" name="team" onchange="populate('team','player')" class="required">
          <option name="option1" value="option1" disabled selected>Choose your Team</option>
          <option class="team-option" name="team" value="<%= home_uuid %>"><%= home_name %></option>
          <option class="team-option" name="team" value="<%= away_uuid %>"><%= away_name %></option>
        </select>
      </div>

      <div class="row">
        <label>Player</label>
        <select id="player" name="player" class="">
          <option name="option1" value="option1" disabled selected>Choose your Player</option>
        </select>
      </div>

      <div class="row">
        <label>Event</label>
        <select name="inGameEvent" class="required" id="inGameEvent">
          <option name="option1" value="" disabled selected>Choose your Event</option>
          <option name="faceoff" value="1">Faceoff</option>
          <option name="giveaway" value="2">Give Away</option>
          <option name="blockedshot" value="3">Blocked Shot</option>
          <option name="takeaway" value="4">Take Away</option>
          <option name="hit" value="5">Hit</option>
          <option name="shot" value="6">Shot</option>
          <option name="goal" value="7">Goal</option>
          <option name="penalty" value="8">Penalty</option>
        </select>
      </div>

      <div class="row">
       <div class="input-field">
         <input id="pledge" type="text" class="validate" name="pledge" value="$"/>
         <label class="active" for="money">Pledge Amount</label>
       </div>
     </div>

      <button class="btn waves-effect waves-light button" type="submit" name="action">Submit
          <i class="material-icons right"></i>
      </button>

    </form>
    <% } %>
  </div>
</div>

</main>
<% include ./partials/_footer %>
</body>
</html>
